body {
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beatbox {
    width: 600px;
    height: 600px;
    background: #333;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}

.beat {
    width: 150px;
    height: 150px;
    flex-basis: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beat .button {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 5px solid aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 2em;
}